.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

.item h3 {
    height: 54px;
}

.item img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.item h3 {
    font-size: 12px;
    text-align: center;
}

.itemsCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.itemsCounter p {
    min-width: 24px;
    text-align: center;
}