.container img {
    max-width: 150px;
    margin: 0 auto;
}

.container h3 {
    font-size: 12px;
}

.itemsCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}