.productList {
    width: initial;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    align-items: center;
    gap: 35px;
    margin-top: 50px;
    padding: 15px;
}

.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80dvh; 
    width: 100%;
}

@media screen and (min-width: 768px) {
    .productList {
        width: 50vw;
    }
}