.navbar {
    width: 100vw;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 5px;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0;
    margin-right: 25px;
    padding: 0;
    list-style: none;
}

.navLinks a {
    color: #fff;
}

.navLinks a.active {
    text-decoration: underline;
}

.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    .navbar:has(.open) {
        background-color: #fff;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 44px;
        left: 0;
        background-color: #fff;
    }

    .navLinks a {
        color: #000;
    }

    .navLinks.open {
        min-height: 100vh;
        display: flex;
    }

    .navLinks.open > .hamburger {
        background-color: #fff;
    }

    .hamburger {
        display: block;
        z-index: 1;
    }
}