.container {
    margin: 0 15px;
}

.item,
.productInfo,
.quantityControls {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 15px;
}

.item {
    width: 100%;
    margin-bottom: 25px;
}

.item,
.productInfo {
    flex-direction: column;
}

.productInfo {
    flex-grow: 1;
}

.productInfo img {
    width: 100%;
    max-width: 90px;
    aspect-ratio: 1;
    object-fit: contain;
}

.productInfo h3 {
    text-align: center;
    font-size: 1rem;
}

.quantityControls, .removeBtn {
    flex-shrink: 0;
}

.quantityControls p {
    min-width: 24px;
    text-align: center;
}

.itemTotal {
    min-width: 60px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .item,
    .productInfo {
        flex-direction: row;
    }

    .productInfo h3 {
        text-align: left;
    }
}